/Solution.class
exercise/
/Solution$Deliverable.class
/Solution$Document.class
/Solution$Item.class
/Solution$Material.class
/Solution$wItem.class
/Solution$IFDeliverable.class
/Solution$DeliverableItem.class
/Solution$WeightedItem.class
/DeliverableItem.class
/Document.class
/IFDeliverable.class
/Material.class
/WeightedItem$Solution.class
/WeightedItem.class
